<!DOCTYPE html>
<html>
    <head>
        <title>Whatsapp App - New Chat</title>
        <link rel="stylesheet" href="style.css"/>
    
    </head>
    <body>
        <h3>Edit your Chat <%=chat._id %></h3>

        <p> This chat was sent form: <%= chat.from %> to <%= chat.to %>  </p>

        <form method="POST" action="/chats/<%=chat._id %>?_method=PUT">
            <textarea name="msg">
                <%= chat.msg %>
            </textarea>

            <button>Edit</button>
        </form>




    </body>
</html>